.header {
    background: #fff;
}

.top-logo img {
    width: 128px;
}

.main-menu-top {}

.main-menu {
    /* float: left; */
}

.navbar {
    justify-content: space-between;
}

.nav-item {}

.navigation {}

.navigation li {
    display: inline-block;
}

.navigation li:last-child {
    margin: 0;
}
.active-cstm{
    color: var(--primary-color) !important;
}
.navigation li.active a {
    color: var(--primary-color);
}

.navigation li a {
    color: var(--secondary-color);
    font-size: 17px;
    font-weight: 600;
    padding: 30px 9px;
    display: block;
    position: relative;
}

.navigation li.active a::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    background: var(--primary-color);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navigation li a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation li a:hover {
    color: var(--primary-color);
}

.h-menu-right {
    /* float: right; */
    margin: 30px 9px;
}

.nav-menu {
    padding-left: 0px;
}


/* Dropdown Menu */

.header .nav-menu li .sub-menu {
    position: absolute;
    top: 86px;
    width: 220px;
    background: #fff;
    z-index: 5000;
    padding: 15px 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateY(-20px);
    border-radius: 10px;
    box-shadow: 0px 3px 5px #3333334d;
}

.header .nav-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav-menu li .sub-menu li {
    display: block;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 10px;
}

.header .nav-menu li .sub-menu li:last-child {
    margin: 0;
    border: none;
    padding: 0;
}

.header .nav-menu li .sub-menu li a {
    color: var(--secondary-color);
    display: block;
    font-size: 15px;
    border-radius: 0;
    padding: 0;
    font-weight: 500;
}

.header .nav-menu li .sub-menu li a:hover {
    color: var(--primary-color);
    margin-left: 5px;
}

.header .navigation li a i {
    margin-left: 5px;
    font-size: 16px;
}

.header .navigation li:hover a {
    color: var(--primary-color);
}

.header .navigation li:hover a::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav-menu li .sub-menu a::before {
    opacity: 0;
    visibility: hidden;
}

.header .nav-menu li .sub-menu li.active a {
    color: var(--primary-color);
}


/*---- Header Sticky ----*/

.header.sticky {
    position: fixed;
    width: 100%;
    top: 0px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    box-shadow: chartreuse;
    z-index: 666;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 17%);
    background: #fff;
    animation: fadeInDown 1s both 0.2s;
}

.header.sticky .navigation li.active a {
    color: var(--primary-color);
}

.header.sticky .navigation li .sub-menu li a {
    color: var(--secondary-color);
}

.header.sticky .nav-menu li .sub-menu li.active a {
    color: var(--primary-color);
}

.header.sticky .navigation li .sub-menu li:hover a {
    color: var(--primary-color);
}

.header.sticky .navigation li:hover a {
    color: var(--primary-color);
}

.header.sticky .navigation li:hover a::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header.sticky .nav-menu li:hover .sub-menu a::before {
    opacity: 0;
    visibility: hidden;
}