.choose-option{
  align-items: center; 
 display: flex;
 flex-direction: column;
 color: #38abf3;
 text-align: center;
 height: 100vh;
 background-color: #ECF7FF;
}
.choose-option h2{
 font-weight: bold;
 font-size: 40px;
 padding-top: 100px;
 margin-top: 15px;
 
}
.hidden {
  visibility: hidden;
}

.choose-option p{
 width: 70% ;
 margin: 0;
}
.whyChoose-cards{
 margin-top: 50px;
 justify-content: space-evenly;
 display: flex;
 width: 95%;
}
.support-card{
 padding: 0;
 margin: 0;
 border: none;
 height: 250px;
 width: 263px;
 background-color: white;
 box-sizing: border-box;
 border-radius: 10px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;       
}
.support-card:active {
 transform: translateY(-10px);
}
.headset {
 width: 60px;
 height: 60px;
 background-color: #3BBBB7;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px auto 5px auto;
 transition: transform 0.5s;
}

.support-card:hover {
 transform: translateY(-10px); /* Move the card up by 10px */
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
}
.headset:hover{
 transform: rotate(360deg); 
}
 .support-card:active .headset {
     animation: spin 1s infinite linear;
 }
.support-card i {
 color: white;
 font-size: 24px;
}

.support-card h2 {
 color: #38abf3;
 font-size: 18px;
 padding: 7px;
 margin: 0;
}

.support-card p {
 margin: 0;
 padding: 0;
 color: #333;
 line-height: 1.8;
 font-size: 14px;
 text-align: center;
 max-width: 250px;
 margin: 0 auto;
}
.video-section {
  background-color: #fff;
 
  display: flex;
  padding: 60px;
}
