/* General Styles */


* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0 20px;
  color: red;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav img{
  width: 35vh;
  height: 13vh;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 10px;
  background-color: #ffffff;
}

ul li a {
  text-decoration: none;
  color: #38abf3;
  font-family: cursive, sans-serif;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 5px;
}

ul li a:hover {
  border-top: 3px solid #38abf3;
  /* color: #de1988; */
}

.box {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 10px;
  margin-top: 10px;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: #fff;
  color: #38abf3;
  border: 2px solid #38abf3;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
}

.btn:hover {
  background-color: #38abf3;
  color: #fff;
}


.hero-section{
  background: url(/assets/Hero-Section.jpg);
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain;     */
  /* background-color: red; */
}
.whyChoose{
  align-items: center;
  /* margin: auto; */
  color: #38abf3;
  /* justify-content: center; */
  flex-direction: column;
  display: flex;
  text-align: center;
  height: 100vh;
  background-color:#ECF7FF;
  
  
}






h2{
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px; 
  /* margin: 0; */
  margin-top: 15px;
  
}
.whyChoose p{
  width: 70%;
  margin: 0;
  
}

.whyChoose-cards{
  margin-top: 50px;
  display: flex;
  width: 95%;

  justify-content:space-evenly ;
}

  .support-card{
      padding: 0;
      margin: 0;
      border: none;
      height: 250px;
      width: 263px;
      background-color: white;
      border-radius: 10px;
      box-sizing: border-box;
     
  } 
  .headset {
      width: 60px;
      height: 60px;
      background-color: #3BBBB7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto 5px auto;
      transition: transform 0.5s;
  }

 .headset:hover{
  transform: rotate(360deg); 
 }
  .support-card:active .headset {
      animation: spin 1s infinite linear;
  }
 
  .support-card i {
      color: white;
      font-size: 24px; /* Adjusted font size for better fit */
  }
  
  .support-card h2 {
      color: #38abf3;
      font-size: 18px;
      padding: 7px;
      margin: 0;
  }
  
  .support-card p {
      margin: 0;
      padding: 0;
      color: #333;
      line-height: 1.8;
      font-size: 13px;
      text-align: center;
      max-width: 250px;
      margin: 0 auto;
  }
 
 
  
  

.video-section {
  background-color: #fff;
  margin-top: 40px;
  display: flex;
  padding: 60px;
}

.video-container h2 {
  color: #4CAF50;
}

.responsive-video {
  height: 430px; /* This keeps the aspect ratio */
  align-items: center;
  border: 3px solid #ddd; 
  border-radius: 10px;
}

.aboutus {
  border: 1px solid #3BBBB7;
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover {
  margin-top: -10px;
}

.container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 50px;
  width: 200px;
}
.container hr {
  width: 50px; /* Adjust length of the line */
  margin-top: 10px;
  border: none;
  border-top: 2px solid #3BBBB7; /* Adjust thickness and color of the line */
  margin-left: 30px;
}

.container h3 {
  margin-left: 10px;
  color: #3BBBB7;
}

.vvork h1 {
  color: #38abf3;
  margin-top: -26px;
  font-size: 40px;
  text-align: center;
  margin-left: 5px;
}

.par {
  text-align: ltr start;
  color: #666;
  font-size: 15px;
  margin-left: 40px;
  font-weight: 400;
  line-height: 2; 
  padding: 0;
  display: block;
}

.par2{
  margin-top: 10px;
}
.check-circle ul {
  list-style: none;
  padding-left: 0; /* Removes default padding */
  display: block;
  margin-top: 15px;
}

.check-circle li {
  font-size: 16px;
  color: #38abf3;
  
  position: relative;
  padding-left: 25px; /* Adds space for the icon */
  
  margin-left: 10px;
  border-color: none;
 
}
.check-circle i{
  color: #3BBBB7;
  margin-right: 10px;
  margin-left:30px;
}
.call-option{
  background-color: #3BBBB7;
 width: 250px;
  font-size: 18px;
  font-weight: 600;
   padding: 11px 25px  16px; 
  border: 2px solid transparent;
  border-radius: 10px;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.call-option a{
  text-decoration: none;
  color: #fff;
}
.call-option:hover{
  background-color: #38abf3;
  cursor: pointer;
}
.call-option:focus{
  outline: none;
}

header{
  position: relative;
  background: url(./assets/employee\ picture.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
   
  color: white; 
 

}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 187, 183, 0.8);
  z-index: 2;}
.achieve {
  position: relative;
  z-index: 3; 
  text-align: center;
  justify-content: center;

  
 
  
}
.achieve-text p{
  font-weight: bold;
  padding: 0;
  margin-top: 70px;
  justify-content: center;
  text-align: center;
}
.achieve-text h2{
  font-weight: 1000;
  font-family: 35px;
  height: 40px;
 margin: 10px;
 padding: 0;
 
 letter-spacing: 3px;
 word-spacing: 5px;
}
.achieve-text .pa2{
  font-weight: bold;
  margin:13px ;
}
.achieve-cards{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-evenly;
}
.achieve-card{
  margin-top: 70px;
  height: 220px;
  width: 263px;
  background-color: #3BBBB7;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid #ffffff3d;
  padding: 20px 30px;
 margin-left: 20px;
 
 

}
.achieve-card i{
  font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 67px;
  display: inline-block;
  border: 2px dashed #ffffff3d;
  border-radius: 100%;
  transition: all 0.4s ease;
}
.achieve-card h5{
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
  color: white; 
}
.achieve-card P{
  margin: 0;
  color: #fff;
}
/* #option2,#option3{
  margin-left: 10px;
  margin-right: 10px;
}
#option1{
  margin-left: 50px;
  margin-right: 10px;
}

#option4{
  margin-left: 10px;
  margin-right: 50px;
} */
#option1:hover{
  border: 3px solid white;
}
#option2:hover{
  border: 3px solid white;
}
#option3:hover{
  border: 3px solid white;
}
#option4:hover{
  border: 3px solid white;
}
.achieve-card i:hover{
  background-color: #fff;
  color: #3BBBB7;
}
article{
  margin-top: 110px;
  background-color: rgb(250,250, 250);
}
.section-title{
  text-align: center;
  padding: 0 60px;
  margin-bottom: 50px;
}
.section-title span{
  font-size: 15px;
  color: #3BBBB7;
  margin-bottom: 10px;
  font-weight: 500;
  display: inline-block;
  padding-top: 50px;
}
.section-title h3{
  font-size: 40px;
  font-weight: 600;
  color: #38abf3;
  margin-bottom: 10px;
}
.section-title p{
  color: #666;
  font-size: 15px;
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end:0;
  
}


.modules{
  display: flex;
 
  flex-wrap: wrap;
  gap: 22px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(250, 250, 251);
  transition: background-color 0.1s ease, color 0.1s ease; 
  
  
  
}
.module{
  
      display: flex;
      flex-direction: column;
     
      height: 108px;
      width: 166px;
      text-align: center;
      background-color:rgb(255, 255, 255);
      border-radius: 20px;
  
  
}
.module i{
  font-size: 40px;
  color: #3BBBB7;
  margin-top: 10px;
  transition: 0.3s ease;
}
.module span{
  display: block;
  margin-top: 18px;
  text-align: center;
  color: #38abf3;
  transition: 0.3s ease;

}
.module:hover i{
   color:white ;
}
.module:hover span{
  color: #fff;
}
.module:hover{
  background-color: #3BBBB7;
} 
.module:focus {
  background-color: #3BBBB7;
}

.module:focus i {
  color: white;
}

.module:focus span {
  color: white;
}
.containers{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
 }
 .text-container{
   width: 50%;
   margin-left: 40px;
  
 }
 .text-container h4{
   margin-top: 50px;
   font-size: 30px;
   position: relative;
   padding-bottom: 15px;
   margin-bottom: 20px;
   display: block;
   color: #38abf3;
 }
 .text-container h5{
   
   font-size: 15px;
   font-weight: 500;
   color: #3BBBB7;
   display: block;
   margin-bottom: 15px;
 }
 .text-container span{
   padding-top: 20px;
   border-top: 3px solid #3BBBB7;
 }
 .text-container p{
   margin-top: 30px;
   color: #38abf3;
   line-height: 30px;
 }
 .text-container ul{
   list-style: 0;
   margin-bottom: 0;
   display: block;
 }
 .text-container ul li{
   margin-bottom: 5px;
   color: #666;
   display: list-item;
 }
 .text-container i{
   color: #3BBBB7;
   margin-left: 10px;
 }
.image-container{
  width: 50%;
}
.image-container img{
  width: 90%;
  align-items: right;
  float: right;
   margin-right: 40px;
  height: 300px;
  margin-top: 125px;
  
  border-radius: 15px;
}

footer {
  position: relative;
  background: url(./assets/employee\ picture.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white;
  z-index: 1;
  margin-top: 150px;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 187, 183, 0.8);
  z-index: 2;
}

.comment {
  position: relative;
  z-index: 3; 
  text-align: center;
  max-width: 1200px; 
  width: 100%;
  padding: 20px;
}

.txt-content p {
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
}

.txt-content h2 {
  font-weight: 1000;
  font-size: 35px; 
  margin: 10px 0;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.txt-content .pa3 {
  font-weight: bold;
  margin: 10px 0;
}

.slide-cards {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Adjust gap between cards */
  
}

.slide-card {
  
  text-align: left;
  margin: 0 10px; 
   height: 331px; 
  width: 351px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid #ffffff3d;
  padding: 20px 30px;
  
}

.slide-card .header {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px; /* Adjust gap between stars */
}

.slide-card ul li {
  color: #f7bd01;
  font-size: 20px;
  padding: 0;
}
@keyframes slide-card {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-33.3333%); }
  50%, 70% { transform: translateX(-66.6666%); }
  75%, 95% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.icon1 i {
  font-size: 55px;
  color: #3BBBB7;
  opacity: 0.8;
  margin-left: 4px;
}
.slide-card p{
  color: #666;
  margin-top: 30px;
  display: block;
  
}
.image-client {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust gap as needed */
  margin-bottom: 15px; /* Adjust bottom margin as needed */
  margin-top: 15px;
}

.image-client img {
  font-size: 30px;
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 2px solid #3BBBB7;
  border-radius: 100%;
  transition: all 0.4s ease;
  padding: 3px;
}

.client-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-title h5 {
  font-size: 20px;
  font-weight: 500;
  color: #38abf3;
  margin: 0;
}

.client-title span {
  font-size: 15px;
  color: #3BBBB7;
  margin-top: 5px; /* Adjust top margin as needed */
} 
aside {
  margin: 0;
  background-color: #ECF7FF;
  width: 100%;
  height: 115vh;
  padding: 0;
}

aside .txt-part {
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.txt-part span {
  color: #3BBBB7;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.txt-part h3 {
  color: #38abf3;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 8px;
}

.txt-part p {
  color: #666;
  font-size: 15px;
  margin-top: 8px;
}

.card-slider {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 margin-left: 50px;
 margin-right: 50px;
  width: 100%;
  /* Max-width for larger screens */
  height: 430px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  animation: slide 4s infinite;
}

.card {
  flex: 0 0 5%; /* Adjusted for 4 cards per view on larger screens */
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  text-align: center;
  font-size: 24px;
  border-right: 1px solid #ddd;
}

.card:last-child {
  border-right: none;
}

@keyframes slide {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-25%); }
  50%, 70% { transform: translateX(-50%); }
  75%, 95% { transform: translateX(-75%); }
  100% { transform: translateX(0); }
}

.card-slider img:hover {
  background-color: #3BBBB7;
}

.media-icons {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.media-icons a {
  height: 35px;
  width: 35px;
  background: #3BBBB7;
  color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  border: 2px solid #38abf3;
  transition: all 0.3s ease;
}

.content1 .media-icons a:hover {
  border-color: #38abf3;
  color: #38abf3;
  background: white;
}

figure {
  height: 100vh;
  width: 100%;
  display: flex;
}

.text-vision {
  margin-left: 50px;
  width: 60%;
  margin-top: 50px;
}

.text-vision span {
  color: #3BBBB7;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.text-vision h3 {
  color: #38abf3;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 18px;
}

.text-vision p {
  color: #38abf3;
  font-size: 15px;
  font-weight: 500;
  display: block;
  line-height: 25px;
}

.text-vision .mt3 {
  color: #38abf3;
  font-size: 15px;
  font-weight: 500;
  display: block;
  line-height: 25px;
  margin-top: 1rem;
}
.team-vision ul{
  list-style: none;
}

.text-vision li {
  /* color:black ; */
  list-style: none;
}
.check-circle i{
  color: #3BBBB7;
  margin-bottom: 13px;
  margin-right: 10px;
}
.team-vision {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.image-vision {
  width: 100%;
  text-align: center;
  margin: 10px 0;
 
}

.image-vision h4,
.image-vision span {
  font-size: 15px;
  font-weight: bolder;
   margin: 0; 

}

.image1 {
  display: flex;
  justify-content: center;
}

.image1 img {
  width: 150px;
  height: 150px;
  border-radius: 40%;
  background-size: cover;
}




.template {
  position: relative;
  background: url(./assets/employee\ picture.jpg) center/cover no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  color: white;
  z-index: 1;
}

.template::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 187, 183, 0.8);
  z-index: 2;
}

.appointment {
  position: relative;
  z-index: 3; /* Ensure the appointment content is above the overlay */
  width: 736px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  color: #000; /* Change text color for better visibility */
}

.appointment-title {
  margin-bottom: 20px;
  padding-top: 30px;
  margin-left: 25px;
}

.appointment-title h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #38abf3;
}

.appointment-title span {
  padding-bottom: 10px;
  border-bottom: 3px solid #3BBBB7;
  font-size: 30px;
}

.appointment-title p {
  color: #38abf3;
  margin: 0;
  line-height: 1.8;
}

.register {
  background-color: #3BBBB7;
  width: 180px;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 25px 16px; 
  border: 2px solid transparent;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.register a {
  text-decoration: none;
  color: #fff;
}
.register:hover{
  background-color: #38abf3;
  cursor: pointer;
}
.register:focus{
  outline: none;
}
summary{
height: 88vh;
width: 100%;  
background-color: #f9f9f9;
}
.text-selection{
  margin-top: 80px;
  margin-left: 60px;
}
.text-selection h1{
  font-size: 40px;
  font-weight: bold;
  color: #38abf3;
}
.mt1{
  margin-top: 1.5rem;
}
.text-selection h5{
  font-size: 20px;
  color: #38abf3;
  font-weight: 700;
}



.questions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
  gap: 20px; /* Space between items */
  width: 80%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 50px; /* Add some top margin */
  margin-left: 50px;
  margin-right: 50px;
}

.question {
  margin: 0;
}

.scholarship {
  box-sizing: border-box;
  width: 545px; /* Make the width 100% of its container */
  height: 60px;
  border: 2px solid #C0d3fb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative; /* Add position relative */
  padding: 0 20px; /* Add padding to prevent text from touching the borders */
}

.scholarship h4 {
  display: flex;
  align-items: center;
  color: #38abf3;
  margin: 0; /* Remove default margin */
  flex-grow: 1; /* Make h4 take the remaining space */
}

.scholarship b {
  color: #3BBBB7;
}

.scholarship h4 b {
  margin-right: 10px; 
  margin-left: 25px; /* Adjust spacing between 01 and the text */
}

.scholarship p {
  font-size: 30px;
  font-weight: 600;
  color: #3BBBB7;
  position: absolute; /* Add position absolute */
  right: 20px; /* Adjust as needed to position at the far right */
  margin: 0; /* Remove default margin */
}
figcaption{
  width: 100%;
  height: 361px;
  background-color: white;
}
.certificate{
  margin-left: 30px;
 padding-top: 70px;
 justify-content: center;
 text-align: center;
}
.certificate h3{
  font-size: 40px;
  font-weight: 600;
  color: #38abf3;
  margin-bottom: 10px;
}
.logos-container {
  display: flex; 
 /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.logos {
  box-sizing: border-box;
  width: 150px;
  height: 120px;
  border: 1px solid #ECF7FF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0; /* No padding needed */
  margin-left: 70px;
  margin-top: 60px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table img {
  width: 100px;
  height: 100px;
}
.last-par{
  width: 100%;
  height: 90vh;
  background-color: #38abf3;
}
.location-container{
  width: 25%;
  padding-top: 90px;
  margin-left: 70px;

}
.location-container h1{
 color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;

}
.location-container p{
  margin-top: 40px;
  margin-bottom: 18px;
  color: white;
  margin: 0;
  display: block;
  line-height: 2;
}
.media-icon{
  margin-left: 70px;
  display: flex;
  margin-top: 40px;
 margin-right: 10px;
}
.media-icon a{
  justify-content: center;
  margin-right: 10px;
  width: 35px;
  background: transparent;
  color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  border: 2px solid white;
  transition: all 0.3s ease;
  gap:50px ;
}
.media-icon a:hover{
  background-color: #3BBBB7;
}
.time{
  width: 30px;
  margin-left:450px ;
} 

.checkbtn {
  display: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  background-color: #3BBBB7;
 margin-right: 45rem;
top: 2px;
position: fixed;
}

#check {
  display: none;
}

@media (max-width: 780px) {
  .video-section {
      flex-direction: column;
      padding: 20px;
  }
  .video-container {
      padding-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
  }
  .content {
      max-width: 100%;
  }
  .container {
      justify-content: center;
  }
  .check-circle i {
      margin-left: 0;
  }
  nav {
      flex-wrap: wrap;
      height: auto;
      padding: 0 10px;
  }

  .logo {
      flex: 1;
      font-size: 25px;
  }

  .menu-icon {
      display: block;
      /* font-size: 10px; */
      cursor: pointer;
  }

  #menu-toggle {
      display: none;
  }

 nav ul {
      /* display: none; */
      flex-direction: column;
      width: 100%;
  }

 nav ul li {
      text-align: center;
  }

  nav ul li a {
      display: block;
      padding: 15px;
      font-size: 15px;
  }

  .box {
      display: none; 
  }

  #check:checked ~ ul {
      display: flex;
  }
  .hero-section {
      height: 50vh;
      background-size: contain;
      padding: 20px;
  }

  .whyChoose {
      height: auto;
      padding: 20px;
  }

  h2 {
      font-size: 24px;
      padding-top: 50px;
      margin-top: 10px;
  }

  .whyChoose p {
      width: 90%;
      font-size: 14px;
  }

  .whyChoose-cards {
      flex-direction: column;
      align-items: center;
  }

  .support-card {
      width: 80%;
      margin: 10px 0;
  }

  .headset {
      width: 50px;
      height: 50px;
  }

  .support-card h2 {
      font-size: 16px;
  }

  .support-card p {
      font-size: 12px;
  }
  .Achievement {
      height: auto; /* Allow height to adjust for content */
      padding: 20px;
    }
    
    .achieve-text h2 {
      font-size: 28px;
    }
    
    .achieve-cards {
      flex-direction: column; /* Stack cards vertically */
      align-items: center;
    }
    
    .achieve-card {
      width: 90%; /* Full width with margin */
      margin: 10px 0;
    }
    .achieve-text p, .achieve-text .pa2 {
      margin-top: 20px;
      font-size: 16px;
    }
    header {
      height: auto; /* Allow height to adjust for content */
      padding: 20px;
    }
    
    .achieve-text h2 {
      font-size: 28px;
    }
    
    .achieve-cards {
      flex-direction: column; /* Stack cards vertically */
      align-items: center;
    }
    
    .achieve-card {
      width: 90%; /* Full width with margin */
      margin: 10px 0;
    }
    
    .achieve-text p, .achieve-text .pa2 {
      margin-top: 20px;
      font-size: 16px;
    }
    .slide-card {
      flex: 1 1 calc(50% - 20px); /* Adjust cards to take up 50% of the width */
    }
    
    .txt-content h2 {
      font-size: 28px; /* Adjust font size */
    }
      .slide-card {
      display: none; 
    }
    
    .slide-card:nth-child(1) {
      display: block; 
    }
    
    .txt-content h2 {
      font-size: 28px; 
    }  
    .questions-container {
      grid-template-columns: 1fr; 
      width: 90%; 
      margin-left: auto; 
      margin-right: auto; 
    }
    
    .scholarship {
      width: 100%; 
    }
    
    .text-selection {
      margin-left: 20px;
      margin-right: 20px;
    }
    .certificate {
      margin-left: 0;
      padding-top: 20px;
    }
    
    .certificate h3 {
      font-size: 25px;
    }
    
    .logos-container {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .logos {
      width: 100px;
      height: 80px;
      margin: 10px;
    }
    
    .table img {
      width: 60px;
      height: 60px;
    }
    .certificate {
      margin-left: 20px;
      padding-top: 30px;
    }
    
    .certificate h3 {
      font-size: 30px;
    }
    
    .logos {
      width: 120px;
      height: 100px;
      margin: 15px;
    }
    
    .table img {
      width: 80px;
      height: 80px;
    }
    .appointment {
      width: 90%;
      max-width: 100%; /* Ensure it scales down below 780px */
      padding: 15px;
    }
    
    .appointment-title h3 {
      font-size: 26px;
    }
    
    .appointment-title span {
      font-size: 26px;
    }
    
    .register {
      width: 160px;
      font-size: 16px;
      padding: 10px 20px;
    }
    /* .text-vision, .image-vision {
      width: 100%;
      margin: 20px;
    }
    
    .image-vision {
      text-align: center;
    }
    
    .image1 img {
      width: 100px;
      height: 100px; 
    } */
    .card {
      flex: 0 0 50%; /* Adjusted for 2 cards per view */
    }
    .containers{
      height: 1200px;
    }
    .containers {
      flex-direction: column;
  }
  .image-container, .text-container {
      width: 100%;
      margin: 0;
      padding: 0 20px;
  }
  .image-container img {
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
      border-radius: 15px;
  }
  .text-container {
      margin-left: 0;
  }
  .text-vision {
    width: 100%;
    margin-left: 0;
  }

  .team-vision {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .image-vision {
    width: 30%;
    margin: 10px 0;
  }

  .image1 img {
    width: 100px;
    height: 100px;
  }
}
@media(max-width:769px){
  .menu-icon {
     display: none; 
}

.checkbtn {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
     font-size: 15px; 
}

 nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    background-color: white; /* Add background color to cover the entire screen */
    z-index: 9;
}

 nav ul li {
    margin: 20px 0;
    background-color: white;
}

#check:checked ~ ul {
    left: 0;
}
h2 {
  font-size: 20px;
  padding-top: 30px;
  margin-top: 5px;
}

.whyChoose p {
  width: 100%;
  font-size: 12px;
}

.support-card {
  width: 90%;
  margin: 5px 0;
}

.headset {
  width: 40px;
  height: 40px;
}

.support-card h2 {
  font-size: 14px;
}

.support-card p {
  font-size: 10px;
}

.Achievement {
  height: auto; /* Allow height to adjust for content */
  padding: 20px;
 
}

.achieve-text h2 {
  font-size: 25px;
}

.achieve-cards {
  flex-direction: column; /* Stack cards vertically */
  align-items: center;
}

.achieve-card {
  width: 90%; /* Full width with margin */
  margin: 10px 0;
}

.achieve-text p, .achieve-text .pa2 {
  margin-top: 20px;
  font-size: 16px;
}
header{
height: auto; /* Allow height to adjust for content */
padding: 20px;
}

.achieve-text h2 {
font-size: 25px;
}

.achieve-cards {
flex-direction: column; /* Stack cards vertically */
align-items: center;
}

.achieve-card {
width: 90%; /* Full width with margin */
margin: 10px 0;
}

.achieve-text p, .achieve-text .pa2 {
margin-top: 20px;
font-size: 16px;
}

 .slide-card {
  display: none; 
}

.slide-card:nth-child(1) {
  display: block;
}

.txt-content h2 {
  font-size: 25px; 
}

.txt-content p, .txt-content .pa3 {
  font-size: 14px;
}
.text-selection h1 {
  font-size: 32px; 
}

.text-selection h5 {
  font-size: 18px; 
}

.scholarship p {
  font-size: 24px; 
}
figcaption {
  height: auto;
  padding-top: 100px;
}

.certificate {
  margin-left: 0;
  padding-top: 20px;
}

.certificate h3 {
  font-size: 25px;
}

.logos-container {
  flex-direction: column;
  align-items: center;
}

.logos {
  width: 100px;
  height: 80px;
  margin: 10px 0;
}

.table img {
  width: 60px;        
  height: 60px;
}

.template{
  margin-top: 600px;
}
.appointment {
  width: 90%;
  max-width: 100%; /* Ensure it scales down below 769px */
  padding: 10px;
}

.appointment-title h3 {
  font-size: 24px;
}

.appointment-title span {
  font-size: 24px;
}

.register {
  width: 140px;
  font-size: 14px;
  padding: 8px 15px;
}
figure {
  height: auto;
  flex-direction: column;
}

.text-vision {
  width: 100%;
  margin-left: 0;
}

.team-vision {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-vision {
  width: 30%;
  margin: 10px 0;
}

.image1 img {
  width: 100px;
  height: 100px;
}
.card {
  flex: 0 0 1%; /* Adjusted for 1 card per view */
  height: 450px;
}
  }
  @media (max-width: 600px) {
    .menu-icon {
        display: none;
    }

    .checkbtn {
        display: block;
        position: absolute; /* Make the button position absolute */
        top: 50%; /* Position from top */
        left: 50%; /* Position from left */
        transform: translate(-50%, -50%); /* Center the button */
        z-index: 10; /* Ensure it stays on top of other elements */
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100vw;
        height: 100vh;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: left 0.3s ease-in-out;
        background-color: white;
        z-index: 9;
    }

    nav ul li {
        margin: 20px 0;
        background-color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

  
